# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment variables and virtual environments
.env
.env.local
venv/
ENV/
env/
.venv/

# Logs and databases
*.log
*.sql
*.sqlite3

# Test output
.coverage
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS files
.DS_Store

# Python-specific files
*.egg
*.egg-info/
dist/
build/
eggs/
*.egg-info/
.installed.cfg
*.manifest
*.spec

# PyInstaller
#  Usually these are written by a Python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# Spyder project settings
.spyderproject
.spyproject

# Visual Studio Code
.vscode/

# IDE files
.idea/
*.iml
*.iws
*.ipr

# Sphinx documentation
docs/_build/

# Pyre type checker
.pyre/
